  <footer class="mt-auto py-4 bg-dark text-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-md-left">
          <p class="mb-0 lead">Created by <a href="https://github.com/chrisdav6" class="text-primary" target="_blank">Chris Davis</a> <i class="fas fa-crow"></i></p>
        </div>
        <div class="col-md-6 text-center text-md-right">
          <p class="mb-0 lead">Following <a href="https://www.udemy.com/user/robert-bunch-2" class="text-warning" target="_blank">Robert Bunch's</a> Just Express Course</p>
        </div>
      </div>
    </div>
  </footer>
  
  
  <script src="/scripts/jquery/dist/jquery.min.js"></script>
  <script src="/scripts/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/scripts/scripts.js"></script>
  
  </body>
</html>