<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href="/stylesheets/style.css">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">MovieApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/favorites">Favorites</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search?source=hp" method="post">
          <div class="form-group">
            <select name="cat" class="form-control" id="cat">
              <option value="movie">Movie Title</option>
              <option value="person">Actor</option>
            </select>
          </div>
          <div class="form-group px-2">
            <input type="text" class="form-control" name="movieSearch" id="movie" placeholder="Search">
          </div>
          <button class="btn btn-primary">Submit</button>
        </form>
      </div>
    </nav>