html, body {
  min-height: 100vh;
}

body {
  font-family: Roboto;
}

#heading {
  background: url(../images/curls.png);
  background-attachment: fixed;
}

.subtitle {
  font-weight: 100;
  font-size: 2rem;
}

#singleMovie p span {
  font-weight: 500;
}

.tagline {
  font-weight: 300;
}

@media (max-width: 900px) {
  #heading h1 {
    line-height: 1;
    padding-bottom: .35em;
  }

  .subtitle {
    line-height: 1;
  }
}