html, body {
  min-height: 100vh;
}

body {
  font-family: Roboto;
}

.subtitle {
  font-weight: 100;
  font-size: 2rem;
}

#singleMovie p span {
  font-weight: 500;
}

.backBtn {
  padding: .5em 1em;
  border: 1px solid #343A40; 
}